<div class="container mainbar" >
<h1>Menu</h1>
<hr>
<form >
	<div class = "form-group query" >
		<input class ="form-control" type="text" name="q" placeholder="Search" [(ngModel)] = "q" (input) = "onqChange()">
	</div>

	<div class = "form-group">
		<select [(ngModel)] = "type" name = "type" class ="form-control" (change) = "onqChange()">
		  <option value="all">All</option>
		  <option value="appetizer">Appetizers</option>
		  <option value="soup">Soups and Salads</option>
		  <option value="lunch">Lunch Specials</option>
		  <option value="burger">Handcrafted Burgers</option>
		  <option value="sandwich">Sandwiches and Tacos</option>
		  <option value="pizza">Pizza</option>
		  <option value="pasta">Pastas</option>
		  <option value="desert">Deserts</option>
		  <option value="beverage">Beverages</option>
		</select>	
	</div>
</form>

  <div  class="row " *ngIf = "foods">
	<div class="col-lg-3 col-md-4 col-sm-6 cols"  *ngFor = 'let food of curPagefoods'>
		<div class="thumbnail" *ngIf = "food.image">
			<div (mouseenter) ="mouseEnter(food._id)"  (mouseleave) ="mouseLeave(food._id)" (click) = "addToCart(food._id)">
	        	<img [src]="food.image | safeHtml" class = "img-thumbnail" id = {{food._id}}  />	
	        	<i class="fa fa-plus fa-3x text-info" ></i>
			</div>

        	<a *ngIf = "globals.admin"  class = "delete btn btn-primary pull-right text-light" [routerLink]="['/food', food._id]"><i class="fa fa-edit fa-3x" aria-hidden="true" ></i>
        	 </a>
        	<div class="caption-full">
			    <div class = "pull-right">${{food.price}}</div>
   		        <div>{{food.name | uppercase}}</div>
			    <div>{{food.type | uppercase}}</div>
		    </div>
		</div>
	</div>
  </div>

	<div *ngIf = "!foods" class="row " >
		<h4>No search results</h4>
	</div>
	<div class ="paging">
	  <ul class="pagination">
	  </ul>
	</div>  
</div>
<div class = "sidebarParent">
	<div class = "sidebar">
		<h3>Cart </h3>
		<div *ngIf = "cartComponent.cart" >
			<div *ngIf = "cartComponent.cart.foods.length" >
<!-- 				<button type="button" class="btn btn-success btn-lg checkout" (click) = "cartComponent.confirmOrder()"  >Checkout - Pay ${{cartComponent.cart.totalAmt}}</button>		
 -->			
 				<button type="button" class="btn btn-success btn-lg checkout" (click) = "showConfirmOrder(template)"  >Checkout -            ${{cartComponent.cart.totalAmt}}</button>		
 				<div class="list-group">
				  <div class="list-group-item  flex-column align-items-start " *ngFor = 'let food of cartComponent.cart.foods'>
				    <div class="d-flex w-100 justify-content-between">
				      <h6 >{{food.food.name | uppercase}}</h6>
				      <small class="text-muted">${{food.food.price}}</small>
				    </div>
				    
				    <p class="mb-1 d-flex w-100 justify-content-between">
				    	<span>
						<button class="btn btn-light" (click) = "cartComponent.incQuantity(food._id)" ><i class="fa fa-plus-square fa-2x text-info" aria-hidden="true" ></i></button>
				    	<input (input) = "cartComponent.onChange(food._id)"  type="number" [(ngModel)] = "food.quantity" name="quantity" id = "quantity"  min = 1 class ="quantity" oninput="validity.valid||(value='');" default =1 required> 
				    	<button class="btn btn-light" (click) = "cartComponent.decQuantity(food._id)"><i class="fa fa-minus-square fa-2x text-info" aria-hidden="true" ></i></button>
				    	</span>
				    	<input type="button"  (click) = "cartComponent.deleteCart(food._id)" class ="btn btn-primary" value="Remove"></p>
				  </div>
				</div>	
			</div>
			<div *ngIf = "!cartComponent.cart.foods.length" >
					No Items in Cart.
			</div>			
		</div>	
		<div *ngIf = "!cartComponent.cart" >
					No Items in Cart.
		</div>
	</div>
</div>


<ng-template #template>
<div class="modal-md">
  <div class="modal-dialog" role="document">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	      	<h4 class="modal-title">Confirm Order</h4>
	        <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
	      </div>
	      <div class="modal-body">
			<h3>Total Amount : ${{cartComponent.cart.totalAmt}}</h3>
			<h3>Order Date : {{todayDate | date:'medium'}}</h3>
			<table class="table table-hover">
				<thead>
				<tr class = "table-success">
				  <th scope="col">Item</th>
				  <th scope="col">Type</th>
				  <th scope="col">Price</th>
				  <th scope="col">Quantity</th>
				</tr>
				</thead>
				<tbody>
				    <tr *ngFor = 'let food of cartComponent.cart.foods' >
				      <th scope="row" >{{food.food.name | uppercase}}</th>
				      <td>{{food.food.type}}</td>
				      <td>${{food.food.price}}</td>
				      <td>{{food.quantity}}</td>
				    </tr>
				</tbody>
			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" (click) = "confirmOrder()" >Confirm and Pay</button>
	        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" >Cancel</button>
	      </div>	      
	    </div>

	  </div>
	</div>
</ng-template>



