.modal-dialog{
  margin: 0;
}

.pagination{
  margin: auto;
  /*width: 50%;*/
  padding-left: 44%;
}

img{
  width: 100%;
}

.cols{
  padding-bottom: 20px;

}

.checkout{
  margin-bottom: 10px;
}

@media (min-width: 1500px){
.container{
  padding: 0;
  margin : 0;
  padding : 1%;
  padding-right: 2%;
}
}

.fa-plus{
    position: absolute;
    left: 45%;
    top: 30%;
    display: none;

}
.btn-light{
  padding: 0;
  margin: 0;
  border: 0;
}

.delete{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 3%;
  top: 0;
  border-radius : 15px;     
}
.delete i {
  position: absolute;
  top: 6px;
  left: 7px;
}


html{
  max-height: 700px;
}
.mainbar{
  margin-top: 15px;
}

@media (min-width: 1500px){
  .mainbar{
    float: left;
    position: absolute;
    display: block;
    height: 100%;
    margin-left: 15px;
    /*overflow-x: hidden;*/
  }
  .sidebar{
    display: block;
    position: fixed;
    right: 1%;
    width: 22%;
    height: 93%;
    overflow-x: hidden;
    /*background-color: #d7d1ff;*/
    padding: 15px;
    border-left : 2px solid #3E3F3A;
  } 

  
}
::-webkit-scrollbar {
    width: 1px;
}

@media (max-width: 1500px){
  .sidebar{
   display: none;
  }
}

.square{
  width: 300px;
  background-color: white;
}
html,body {
   height: 100%;
   margin: 0;
}

.quantity{
  width: 50px;
}

flash-messages{
  position: fixed;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}