<form (submit) = fetchFoods()>
	<div class = "form-group">
		<input class ="form-control" type="text" name="q" placeholder="Search" [(ngModel)] = "q" >
	</div>
	<div class = "form-group">
		<select [(ngModel)] = "type" name = "type" class ="form-control">
		  <option value="all"></option>
		  <option value="rice">Rice</option>
		  <option value="bread">Bread</option>
		  <option value="drink">Drinks</option>
		  <option value="curry">Curry</option>
		</select>
	</div>
	<div class = "form-group">
		<input type="submit" name="submit" class = "form-control">
	</div>
</form>

<div class="container">
  <div  class="row " >
	    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor = 'let food of curPagefoods'>
	    	<div *ngIf = "food.image" class ="thumbnail">

		      <!-- <img [src]="food.image"> -->
        	<img [src]="food.image | safeHtml" />
        	<a *ngIf = "globals.admin" (click) = "deleteItem(food._id)" class = "delete btn btn-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>
        	 </a>
        	<a (click) = "addToCart(food._id)" class ="addToCart btn btn-primary"><i class="fa fa-cart-plus fa-2x"></i></a>

		      <div class="caption-full well">
		      	<div class = "pull-right">${{food.price}}</div>
   		        <div>{{food.name}}</div>
			    <div>{{food.type}}</div>
		      </div>
	      </div>
	    </div>
  </div>
    <div *ngIf = "!foods" class="row " >
    	<h4>No search results</h4>
  </div>
</div>



<div class ="paging">
  <ul class="pagination">
  </ul>
</div>

