<div class = "container">
	<h1>Cart</h1>
	<hr>
</div>
<div *ngIf = "cart" class = "container">
	<div *ngIf = "cart.foods.length" >
		<h3>Total Amount : ${{cart.totalAmt}}</h3>
		<table class="table table-hover">
			<thead>
			<tr class = "table-success">
			  <th scope="col">Item</th>
			  <th scope="col">Type</th>
			  <th scope="col">Price</th>
			  <th scope="col">Quantity</th>
			  <th scope="col"></th>

			</tr>
			</thead>
			<tbody>
			    <tr *ngFor = 'let food of cart.foods' >
			      <th scope="row" >{{food.food.name | uppercase}}</th>
			      <td>{{food.food.type}}</td>
			      <td>${{food.food.price}}</td>
			      <td>
			      	<button class="btn btn-light" (click) = "incQuantity(food._id)" ><i class="fa fa-plus-square fa-2x text-info" aria-hidden="true" ></i></button>
			      	<input (input) = "onChange(food._id)"  type="number" [(ngModel)] = "food.quantity" name="quantity"  min = 1 class ="quantity" oninput="validity.valid||(value='');" default =1 required>
			      	<button class="btn btn-light" (click) = "decQuantity(food._id)"><i class="fa fa-minus-square fa-2x text-info" aria-hidden="true" ></i></button>
			      </td>
			      <td><input type="button" (click) = "deleteCart(food._id)" value="Remove" class ="btn btn-primary"></td>
			    </tr>
			</tbody>
		</table>
		<div *ngIf = "cart.foods.length" class = "container">
			<button type="button" class="btn btn-success btn-lg" (click) = "showConfirmOrder(template)">Confirm Order</button>
		</div>		
	</div>
	<div *ngIf = "!cart.foods.length" >
			<h3>Total Amount : $0</h3>
			<h3>Cart Empty. Please Add items</h3>
			<a class = "btn btn-success btn-lg" [routerLink] = "['/menu']">Go to Menu</a>
	</div>	
</div>

<div *ngIf = "!cart" class = "container">
	<h3>Total Amount : $0</h3>
	<h3>Cart Empty. Please Add items</h3>
	<a class = "btn btn-success btn-lg" [routerLink] = "['/menu']">Go to Menu</a>
</div>

<ng-template #template>
<div class="modal-md">
  <div class="modal-dialog" role="document">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	      	<h4 class="modal-title">Confirm Order</h4>
	        <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
	      </div>
	      <div class="modal-body">
			<h3>Total Amount : ${{cart.totalAmt}}</h3>
			<h3>Order Date : {{todayDate | date:'medium'}}</h3>
			<table class="table table-hover">
				<thead>
				<tr class = "table-success">
				  <th scope="col">Item</th>
				  <th scope="col">Type</th>
				  <th scope="col">Price</th>
				  <th scope="col">Quantity</th>
				</tr>
				</thead>
				<tbody>
				    <tr *ngFor = 'let food of cart.foods' >
				      <th scope="row" >{{food.food.name | uppercase}}</th>
				      <td>{{food.food.type}}</td>
				      <td>${{food.food.price}}</td>
				      <td>{{food.quantity}}</td>
				    </tr>
				</tbody>
			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" (click) = "confirmOrder()" >Confirm and Pay</button>
	        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" >Cancel</button>
	      </div>	      
	    </div>

	  </div>
	</div>
</ng-template>
