<div *ngIf = "cart" class = "container">
	<h3>Total Amount : ${{cart.totalAmt}}</h3>
	<table class="table table-hover">
		<thead>
		<tr class = "bg-primary">
		  <th scope="col">Item</th>
		  <th scope="col">Type</th>
		  <th scope="col">Price</th>
		  <th scope="col">Quantity</th>
		  <th scope="col">Delete</th>

		</tr>
		</thead>
		<tbody>
		    <tr *ngFor = 'let food of cart.foods' >
		      <th scope="row" >{{food.food.name | uppercase}}</th>
		      <td>{{food.food.type}}</td>
		      <td>${{food.food.price}}</td>
		      <td><input (blur) = "onChange(food._id)"  type="number" [(ngModel)] = "food.quantity" name="quantity"  min = 1 class ="quantity" oninput="validity.valid||(value='');" default =1 required></td>
		      <td><input type="button" (click) = "deleteCart(food._id)" value="Delete" class ="btn btn-danger"></td>
		    </tr>
		</tbody>
	</table>
</div>




<div *ngIf = "!cart" class = "container">
	<h3>Total Amount : $0</h3>
	<h3>Cart Empty. Please Add items</h3>
</div>

<div *ngIf = "cart" class = "container">
	<button type="button" class="btn btn-primary btn-lg" (click) = "confirmOrder()">Confirm Order</button>
</div>
<div *ngIf = "!cart">
	<a class = "btn btn-primary btn-lg" [routerLink] = "['/menu']">Go to Menu</a>
	<button type="button" class="btn btn-primary btn-lg" (click) = "confirmOrder()">Confirm Order</button>

</div>